.App {
  font-family: sans-serif;
  text-align: center;
}

.product-cart {
  display: flex;
  width: 210px;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.product-image {
  width: 200px;
  height: 200px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.page-number {
  border:1px solid rgb(52, 51, 51);
  border-radius: 5px;
  padding: 5px;
  margin: 4px;
}

.active {
  background-color: aqua;
}
